// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

span.wpcf7-not-valid-tip {
  background-color: $brand-danger;
  color: $white;
  padding: 0.425rem;
}

div.wpcf7-validation-errors {
  background-color: $brand-danger;
  border-color: $brand-danger;
  color: $white;
}

div.wpcf7-response-output {
  padding: 0.425rem;;
  margin: 0;
}
